/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply w-full h-full scroll-smooth;
}

body {
    @apply w-full h-full overflow-hidden text-sm;
}

#app {
    @apply w-full h-full;
}